<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
	<add key="Forms NPM Feed" value="https://pkgs.dev.azure.com/EpiserverEngineering/netCore/_packaging/HeadlessForms/nuget/v3/index.json" />
    <add key="Optimizely" value="https://api.nuget.optimizely.com/v3/index.json" />
  </packageSources>
</configuration>
